<div class="modal fade" id="confirmEditModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmEditModalLabel" caller-id="editAuthor" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'book:update_book' book.id %}" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Edit book</h4>
                </div>
                <div class="modal-body confirm-edit">
                    <div class="form-group">
                        <label>Book title</label>
                        <label>
                            <input type="text" class="form-control" required name="edited_title"
                                   value="{{ book.title }}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <label>
                            <input type="text" class="form-control" required name="edited_genre"
                                   value="{{ book.genre }}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <label>
                            <textarea class="form-control" required
                                      name="edited_language">{{ book.language }}</textarea>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <label for="id_author"></label>
                        <select name="author" id="id_author" required>
                            {% for author in all_authors %}
                                <option value="{{ author.name }}">{{ author.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <label>
                            <input type="text" class="form-control" required name="edited_publisher"
                                   value="{{ book.publisher }}">
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                   <a href="{% url 'book:books' %}"><input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"></a>
                    <input type="submit" class="btn btn-info" value="Save" id="confirmSaveButtonModal">
                </div>
            </form>
        </div>
    </div>
</div>